fastapi
uvicorn[standard]
pydantic
requests
streamlit
sqlite-utils
langchain
langchain-community==0.3.29
langchain-core
langchain-text-splitters
huggingface-hub==0.36.0
langchain-huggingface==0.3.1
langchain-chroma
sentence-transformers==5.1.2
chromadb
langchain-google-genai
google-generativeai
python-dotenv
